<!DOCTYPE html>
<html>
<body style="font-family: Arial, sans-serif; line-height: 1.6;">
    <div style="background-color: #f4f4f4; padding: 20px; border-radius: 10px;">
        <h2 style="color: #333;">API Documentation Invitation</h2>
        <p>Hello,</p>
        <p>We are excited to invite you to view our User Management API documentation.</p>
        <p>You can access the documentation by clicking the buttons below:</p>
        <!-- <a href="http://127.0.0.1:8000/docs" style="display: inline-block; padding: 10px 20px; color: white; background-color: #007bff; text-decoration: none; border-radius: 5px; margin-right: 10px;">View Swagger UI</a>
        <a href="http://127.0.0.1:8000/redoc" style="display: inline-block; padding: 10px 20px; color: white; background-color: #28a745; text-decoration: none; border-radius: 5px;">View ReDoc</a> -->
        <a href="http://35.155.205.24/docs" style="display: inline-block; padding: 10px 20px; color: white; background-color: #007bff; text-decoration: none; border-radius: 5px; margin-right: 10px;">View Swagger UI</a>
        <a href="http://35.155.205.24/redoc" style="display: inline-block; padding: 10px 20px; color: white; background-color: #28a745; text-decoration: none; border-radius: 5px;">View ReDoc</a>
        <p>We appreciate your time and look forward to your feedback.</p>
        <p>Thank you,<br>Bertram Gilfoyle</p>
        <p>If you have any questions, feel free to reply to this email.</p>
        <p>GitHub Repository: <a href="https://github.com/aniketwdubey/FastAPI-Firestore-User-Management">https://github.com/aniketwdubey/FastAPI-Firestore-User-Management</a></p>
    </div>
</body>
</html>